label{
    letter-spacing: 1px;
    margin:5px 0px;
}
.form-wrapper{
    border-radius: 5px;
    padding:10px;
    text-align: center;
    box-shadow: 0px 0px 10px black, 20px 80px 100px inset  rgb(0, 0, 0),-20px -20px 50px inset  rgb(0, 0, 0);
}
.form{
    text-align: left;
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:300px;
    height:300px;
    box-shadow: 0px 0px 10px black, 0px 0px 200px inset  rgb(0, 0, 0);
 
}
.form__control{
    padding:5px;
    border:1px solid white;
    border-radius: 2px;
}
.form__control:hover{
    border:1px solid gray;
      
}
.form__control:focus{
    border:1px solid gray;
}
