input{
    border:0px;
    outline:0px;
    background:transparent;
    text-align: center;
    font-weight: bold;
    color:rgb(95, 95, 95);
    font-size: 16px;
}
.list-wrapper{
    border-radius: 5px;
    padding:10px;
    text-align: center;
    box-shadow: 0px 0px 100px black, 20px 80px 100px inset  rgb(0, 0, 0),-20px -20px 50px inset  rgb(0, 0, 0);
}
.list{
    text-align: center;
    width:300px;
    height:200px;
    box-shadow: 0px 0px 10px black, 0px 0px 200px inset  rgb(0, 0, 0);]
    border:2px solid black; 
    border-spacing:0px 2px;
}
.list__head{
    color:red;
    background-color: rgba(0,0,0,0.5);
}
.list__row{
    
    border-bottom:1px solid rgb(43, 43, 43);
    background-color: rgba(0,0,0,0.15);
}
.list__item{
    min-width: 100px;
    color:rgb(95, 95, 95);
    font-weight: bold;
}
