h2,label{
  color:red;
  text-shadow: 0px 0px 10px black;    
}

.App {
  display:flex;
  justify-content: space-around;
  align-items:center;
  width:100%;
  min-height:100vh;
  background-color: #282c34;
}

.btn{
  cursor:pointer;
  color:white;  
  margin:15px 0px;
  font-weight: bold;
  padding:5px;
  border:0px;
  border-radius: 0px;
  box-shadow:10px 10px 100px inset black,0px 0px 15px black;
  transition:all 200ms ease-in-out;
}
.btn.clear{
  width:100%;
}
.btn:focus{
  outline:none;
}
.btn:active{
  outline: none;
  background-color: black ;
}

.btn:hover{
  box-shadow:10px 10px 100px inset black,0px 0px 2px white;
}